html {
	text-align: center;
	font-family: verdana;
	background-color:#77C2CC;
	color: 
	
}

body {
	
}

header {
	
	
}

main {
	
}

h1 {
	color: #3E1078;
	text-shadow: 2px 2px #FFFFCC;
	background-color: #04A3A3;
	
	
	
h2 {
	
}

	
p {
	
}
footer {
	
}
ul{
		

}
