html {
	color:#202020;
	background-color:#FFFFE0;
	border: solid 1px #202020; 
	border-radius: 25px
	
}
	
main {
	color:#202020;
	background-color:#FFFFE0;
	font-family:Verdana;
	font-size:18px;
	margin-bottom: 2cm;
}

p {
	color:#202020;
	background-color: #FFFFE0;
	border: 3px solid #FFFFE0;
	outline-style:dotted;
	outline-color:#FD6163;
	font-family:Verdana;
	font-size:18px;
	margin-top: 1cm;
}

h1{
	color: #663399;
	background-color: #FB8ABB;
	font-family:Verdana;
	font-size:40px;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #202020;
	text-shadow: 2px 2px #FFFFCC;
	text-transform: capitalize;
}

h2{
	color:#FD6163;
	background-color:#FFCCCC; 
	font-family:Verdana;
	font-size: 25px;
	border-bottom: dotted; 
	border-bottom-color: #FFFFE0;
	border-top: dotted;
	border-top-color: #FFFFE0;
	border-right:dotted;
	border-right-color:#FFFFE0;
	border-left: dotted;
	border-left-color:#FFFFE0;
	margin-top: 1cm;
}





