html {
	color:#202020;
	background-color:#FFFFE0;
	border: solid 1px #202020; 
}
	
main {
	color:#202020;
	background-color:#FFFFE0;
	font-family:Verdana;
	font-size:18px;
}

p {
	color:#202020;
	background-color: #FFFFE0;
	font-family:Verdana;
	font-size:18px;
}

h1{
	color: #202020;
	background-color: #d147a3;
	font-family:Verdana;
	font-size:40px;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #202020;
}

h2{
	color:#202020;
	background-color:#FFFFE0; 
	font-family:Verdana;
	font-size: 25px;
}

