/*Requirements

*Create a new file called "main.css"
*Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font and text of each element.
*Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.
*se at least 4 different units to set sizes of various aspects of your webpage.
Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into the top of your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
Upload to the production server with sftp.
View your index.html in the production server.*/

/*1)color 2)background-color 3)border 4)border-radius 5)font-size 6)font-family 7)margin-bottom 8)outline-style 9)outline-color 10)text-align 11)text-decoration 12)text-decoration-color 13)text-shadow 14)text-transform 15)border-bottom 16)border-bottom-color*/


What I learned (from my classmate)
Pat: Opacity,padding, and direction 
Warit: transform, min-width

html {
	color:#202020;
	background-color:
	border: solid 1px #202020; 
	border-radius: 25px
	
}
	
main {
	color:#202020;
	background-color:#FFFFE0;
	font-family:Verdana;
	font-size:18px;
	margin-bottom: 2cm;
}

p {
	color:#202020;
	background-color: #FFFFE0;
	border: 3px solid #FFFFE0;
	outline-style:dotted;
	outline-color:#FD6163;
	font-family:Verdana;
	font-size:18px;
	margin-top: 1cm;
}

h1{
	color: #663399;
	background-color: #FB8ABB;
	font-family:Verdana;
	font-size:40px;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #202020;
	text-shadow: 2px 2px #FFFFCC;
	text-transform: capitalize;
}

h2{
	color:#FD6163;
	background-color:#FFCCCC; 
	font-family:Verdana;
	font-size: 25px;
	border-bottom: dotted; 
	border-bottom-color: #FFFFE0;
	border-top: dotted;
	border-top-color: #FFFFE0;
	border-right:dotted;
	border-right-color:#FFFFE0;
	border-left: dotted;
	border-left-color:#FFFFE0;
	margin-top: 1cm;
}





