html{
	font-size:
	background-color:	
}

body{
	border-left:
}

header {
	background-color:
	font-family:
	text-decoration:
	border-bottom:
}

main {
	border:
}

footer {
	border-right:
	border-bottom:
	font-size:
}
h1 {
	font-family:
	font-size:
	color:
	border-bottom:
}
h2, h3 {
	background-color:
	color:
}
h3 {
	font-family:
}
h4{
	border-left:
	border-right:
}
p {
	color:
	border-top:
}
